<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="test/bootstrap.php"
         colors="true"
         cacheResult="false">
    <testsuites>
        <testsuite name="IA Inbound">
            <directory>test</directory>
            <exclude>test/smoke.php</exclude>
            <exclude>test/build_payload.php</exclude>
            <exclude>test/bootstrap.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
